{% extends "base.html" %}

{% block title %}About me{% endblock title %}

{% block maincontent %}
    <!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="/assets/img/jaz1.jpg" alt="Matt Ramuta" class="img-circle">
					<h1>Hi, I am Matt!</h1>
					<p>Hello everybody. I'm Matt, a web and mobile developer from Slovenia, now moving to London, England. I'm looking to join a
                    software development company with great teammates and interesting projects.</p>
					<p>My technology stack mainly consists of Python, Java, Android and JavaScript.
                        If you like to get to know me better, please <a href="/contact">contact me.</a></p>

				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->


	<!-- +++++ Projects Section +++++ -->

	<div class="container pt">
		<div class="row mt centered">
			<div class="col-lg-4">
				<a class="zoom green" href="http://angel.co/lafemme-deadpool"><img class="img-responsive" src="/assets/img/portfolio/lafemme.png" alt="" /></a>
				<p>LAFEMME</p>
			</div>
            <div class="col-lg-4">
				<a class="zoom green" href="https://angel.co/kindy"><img class="img-responsive" src="/assets/img/portfolio/kindy.png" alt="" /></a>
				<p>KINDY</p>
			</div>
            <div class="col-lg-4">
				<a class="zoom green" href="https://play.google.com/store/apps/details?id=com.rainmama"><img class="img-responsive" src="/assets/img/portfolio/rainmama2.png" alt="" /></a>
				<p>RAINMAMA</p>
			</div>
		</div><!-- /row -->
        <div class="row mt centered">
			<div class="col-lg-4">
				<a class="zoom green" href="http://bitwage.co"><img class="img-responsive" src="/assets/img/portfolio/bitwage.png" alt="" /></a>
				<p>BITWAGE</p>
			</div>
            <div class="col-lg-4">
				<a class="zoom green" href="http://smartninja.org"><img class="img-responsive" src="/assets/img/portfolio/smartninja.png" alt="" /></a>
				<p>SMARTNINJA</p>
			</div>
            <div class="col-lg-4">
				<a class="zoom green" href="http://start-up.si"><img class="img-responsive" src="/assets/img/portfolio/startupnm.png" alt="" /></a>
				<p>STARTUP NOVO MESTO</p>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
{% endblock maincontent %}
