{% extends "base.html" %}

{% block title %}About me{% endblock title %}

{% block maincontent %}
    <!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="/assets/img/jaz1.jpg" alt="Matt Ramuta" class="img-circle">
					<h1>Hi, I am Matej!<br><small><em>(pronounced: Matei)</em></small></h1>
					<p>
						Hello everybody. My name is Matej (you can call me Matt), I'm a tech entrepreneur from Slovenia,
						currently working as a CTO at <a target="_blank" href="https://www.smartninja.org">SmartNinja</a>.
					</p>
					<p>
						My technology stack mainly consists of Python, Java/Android and JavaScript, but I'm also very
						interested in blockchain technologies.</p>

					<p>In the past I've been working
                        on projects for clients like Samsung, WWF and some established London-based digital agencies.
                        If you like to get to know me better, please <a href="/contact">contact me.</a>
					</p>

				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->


	<!-- +++++ Projects Section +++++ -->

	<div class="container pt">
		<div class="row mt centered">
			<div class="col-lg-4">
				<a target="_blank" href="https://angel.co/lafemme-deadpool"><img class="img-responsive" src="/assets/img/portfolio/lafemme.png" alt="" /></a>
				<p>LAFEMME</p>
			</div>
            <div class="col-lg-4">
				<a target="_blank" href="https://angel.co/kindy"><img class="img-responsive" src="/assets/img/portfolio/kindy.png" alt="" /></a>
				<p>KINDY</p>
			</div>
            <div class="col-lg-4">
				<a target="_blank" href="https://play.google.com/store/apps/details?id=com.rainmama"><img class="img-responsive" src="/assets/img/portfolio/rainmama2.png" alt="" /></a>
				<p>RAINMAMA</p>
			</div>
		</div><!-- /row -->
        <div class="row mt centered">
			<div class="col-lg-4">
				<a target="_blank" href="https://bitwage.co"><img class="img-responsive" src="/assets/img/portfolio/bitwage.png" alt="" /></a>
				<p>BITWAGE</p>
			</div>
            <div class="col-lg-4">
				<a target="_blank" href="https://www.smartninja.org"><img class="img-responsive" src="/assets/img/portfolio/smartninja.png" alt="" /></a>
				<p>SMARTNINJA</p>
			</div>
            <div class="col-lg-4">
				<a target="_blank" href="https://start-up.si"><img class="img-responsive" src="/assets/img/portfolio/startupnm.png" alt="" /></a>
				<p>STARTUP NOVO MESTO</p>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
{% endblock maincontent %}
