<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="/assets/img/r.jpg">

        <title>{% block title %}{% endblock title %} | Ramuta.me</title>

        <!-- Bootstrap core CSS -->
        <link href="/assets/css/bootstrap.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/assets/css/main.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="/assets/js/hover.zoom.js"></script>
        <script src="/assets/js/hover.zoom.conf.js"></script>

        {% block scripts %}
        {% endblock scripts %}

        <script src='https://www.google.com/recaptcha/api.js?render=6LcplXkUAAAAAAbRjgUmIY2_6hkIbPqK7Hy3IyvK'></script>

        <script>
            grecaptcha.ready(function() {
                grecaptcha.execute('6LcplXkUAAAAAAbRjgUmIY2_6hkIbPqK7Hy3IyvK', {action: 'krneki'}).then(function(token) {
                    // Verify the token on the server.
                    document.getElementById("skrit").value = token;
                });
            });
        </script>
    </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MATEJ RAMUTA</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/about">About me</a></li>
            <li><a href="/">Blog</a></li>
            <li><a href="/contact">Contact me</a></li>

            {% if hello %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ hello }} <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/new-post">New post</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	{% block maincontent %}
	{% endblock maincontent %}


	<!-- +++++ Footer Section +++++ -->

	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-lg-offset-1">
					<h4>Current projects</h4>
					<p>
						<a target="_blank" href="https://www.smartninja.org">SmartNinja</a>
                        <br/>
                        <br/>
					</p>
				</div><!-- /col-lg-4 -->

				<div class="col-lg-3 col-lg-offset-1">
					<h4>Social</h4>
					<p>
						<a target="_blank" href="https://github.com/ramuta">GitHub</a><br/>
                        <a target="_blank" href="https://www.linkedin.com/in/ramuta/">LinkedIn</a><br/>
						<a target="_blank" href="https://twitter.com/ramuta22">Twitter</a>
					</p>
				</div><!-- /col-lg-4 -->

				<div class="col-lg-4">
					<h4>TLDR</h4>
					<p>
                        A tech entrepreneur & a co-founder at SmartNinja.
                    </p>
				</div><!-- /col-lg-4 -->

			</div>

		</div>
	</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/main.js"></script>
  </body>
</html>
