{% extends "base.html" %}

{% block title %}Matt Ramuta{% endblock title %}

{% block maincontent%}
<!-- +++++ Posts Lists +++++ -->
	<!-- +++++ First Post +++++ -->
	<div id="white">
	    <div class="container">
            {% for post in posts %}
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<p><img src="../assets/img/jaz1.jpg" width="50px" height="50px" class="img-circle">
						<ba>Matt Ramuta</ba><br><bd>{{ post.datetime.strftime('%d %B %Y') }}</bd></p>

					<h1><a href="/blog/{{ post.slug }}">{{ post.title }}</a></h1>

                    {{ post.text }}

                    <a href="/blog/{{ post.slug }}">Read more</a>

					<hr>
				</div>

			</div><!-- /row -->
            <br>
            {% endfor %}
	    </div> <!-- /container -->
	</div><!-- /grey -->
{% endblock maincontent%}